@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
   background-image: url('../images/cow.jpg');
   background-size: cover;
   background-position: bottom center;
   height: 100vh; 
clip-path: polygon(0 0, 100% 0, 100% 83%, 46% 100%, 46% 100%, 0 81%);
}
.hero h1{
    color:azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    padding-top: 60px;
}

.article ,#cow-type{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto; 
   background: linear-gradient(10deg, pink , rgb(122, 122, 244),red);

    padding: 60px

}
.article h2, #cow-type h2{
    text-align: center;
    font-size: 48px;

    border-style: solid;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: yellow;
    padding-bottom: 30px;
    margin-bottom: 60px;

}
.article p{
    font-size: 28px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2rem;
    background-color: yellow;
    display: inline;
    width: 600px;
}

.cow-images{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
   
}

.cow-images div{
    width: 300px;
}
.cow-images img{
    width:100%
}
